mixin filter-sidebar(data)
    .filter-sidebar.ui.sidebar.left.vertical.inverted
        +b.filter
            +e.header
                +e.title Фильтр
            +e.main
                - var arSection = ['Категория','Стиль','Фабрика','Свойства','Предмет'];
                each section, sectionIndex in arSection
                    +b.filter-section
                        - var open = sectionIndex === 0 ? 'open' : '';
                        +e.header(class=open)
                            +e.header-text= section
                            +e.header-arrow!= pugHelpers.Icon.call(locals, {iconName: 'filter-arrow'})
                        +e.main
                            - var arFilter = ['Спальни','Ванные комнаты','Гостиные','Детская мебель','Кабинеты','Кухни'];
                            each item, index in arFilter
                                +e.element
                                    .ui.checkbox
                                        input(type="checkbox" name=item id="checkbox_" + sectionIndex + "_" + index)
                                        label(for="checkbox_" + sectionIndex + "_" + index)= item
                            +e.more
                                +e.more-list
                                    - var arFilter = ['Спальни','Ванные комнаты','Гостиные','Детская мебель','Кабинеты','Кухни'];
                                    each item, index in arFilter
                                        +e.element
                                            .ui.checkbox
                                                input(type="checkbox" name=item id="checkbox_more_" + sectionIndex + "_" + index)
                                                label(for="checkbox_more_" + sectionIndex + "_" + index)= item
                                +e.more-btn Показать все
                +e.item
                    .ui.checkbox
                        input(type="checkbox" name="НА СКЛАДЕ" id="checkbox_7_1")
                        label(for="checkbox_7_1") НА СКЛАДЕ
                +e.item
                    .ui.checkbox
                        input(type="checkbox" name="НА СКЛАДЕ" id="checkbox_7_2")
                        label(for="checkbox_7_2") НА СКЛАДЕ
            +e.footer
                +button({text: 'Очистить', type: 'primary'})
